# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

*.json
# Django stuff
db.sqlite3
db.sqlite*
/staticfiles/
/media/
*.out

# Virtual environment
venv/
ENV/
.env

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#image files
*.jpg
*.jpeg

